{% extends "base.html" %} {% block css %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>{% endblock %} {% block title %}Epreuves{% endblock %} {% block header %}{%
endblock %} {% block content %}

<div style="text-align: center; margin: 40px 0 0px 0">
  <h1 class="card-title">Epreuves</h1>
  <p>
    Découvrez toutes les épreuves des Jeux Olympiques et réservez vos billets
  </p>
</div>

<!-- Spinner de chargement -->
<div id="loader" class="text-center my-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
</div>

<section class="events">
  <div class="events-grid" id="epreuves-card"></div>
</section>

{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/all_epreuves_front.js') }}"></script>
{% endblock %}
