{% extends "base.html" %} {% block css %}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/epreuve_details.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>{% endblock %} {% block title %}Epreuves - {{ epreuve.nom_epreuve }} {%
endblock %} {% block content %}

<section class="hero" style="padding: 10px">
  <div class="hero-bg">
    {% if epreuve.image_filename %}
    <img
      src="{{ url_for('static', filename='uploads/image/' ~ epreuve.image_filename) }}"
      alt="Image de l'épreuve"
    />
    {% else %}
    <p>Aucune image disponible</p>
    {% endif %}

    <div class="overlay"></div>
  </div>

  <div class="hero-content">
    <h1>{{ epreuve.nom_epreuve }}</h1>
    <p>Date de l'épreuve : {{ epreuve.date_epreuve.strftime('%d/%m/%Y') }}</p>
    <p style="font-size: 15px">
      Veuillez vous munir de vos pieces d'identié ainsi que le QR code présent
      dans le ticket. Notez que le QR code ne peut être scanner qu'une seule
      fois, donc les personnes qui ont un billet d'une offre duo ou family
      doivent entrer TOUS en même temps.
    </p>
  </div>
</section>

<section class="events" style="display: flex; flex-direction: column">
  <div style="text-align: center; margin: 0px 0 20px 0">
    <h2>Offres disponibles :</h2>
    <p>Sélectionnez l'offre qui correspond à vos besoins</p>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    "
  >
    {% for offre in epreuve.offres %}
    <div>
      <div class="card mb-4 rounded-3 shadow-sm border-primary events-grid">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">{{ offre.type_offre }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{ offre.prix }} €</h1>
          <ul class="list-unstyled">
            <li>Nombre de Personne(s) : {{ offre.nombre_personne }}</li>
            <li>Nombres de places restantes : {{offre.bi_restant}}</li>
          </ul>
          <a
            href="{{ url_for('paiement.paiement_epreuve', type_offre=offre.type_offre) }}"
            class="w-100 btn btn-lg btn-primary"
          >
            Acheter
          </a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="info-box">
    <div class="info-content">
      <div class="info-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-tag"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0"
          />
          <path
            d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z"
          />
        </svg>
      </div>

      <div class="info-text">
        <h3>Sécurité et Confidentialité</h3>

        <p class="info-paragraph">
          <strong>Note importante :</strong>
          Les paiements sur ce site sont des simulations à des fins de
          démonstration uniquement. Aucune transaction réelle n'est effectuée et
          aucune donnée bancaire n'est collectée ou stockée.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
